{
	"presets": [
		"react", "es2015", "stage-2", 
		["env", {
			"modules": false,
			"targets": {
				"browsers": ["last 2 versions"]
			}
		}]
	],
	"plugins": ["transform-decorators-legacy", "transform-class-properties"],
	"env": {
		"test": {
			"plugins": ["transform-es2015-modules-commonjs"]
		}
	}
}